@model IEnumerable<Company.Models.BusinessLogic.Material>

@{
    ViewData["Title"] = "Index";
}

<h2>Материалы</h2>

<p>
    <a asp-action="Create">Добавить материал</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Наименование материала
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
