@model Company.Models.BusinessLogic.ObjectOfExpenditure

@{
    ViewData["Title"] = "Create";
}

<h2>Создать</h2>

<h4>Статья расходов</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label">Поставщик</label>
                <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.ProviderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label">Материал</label>
                <select asp-for="MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Количество</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

